<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.osim.healthkit">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="${huawei_healthkit_appid}\" />

    </application>

</manifest>
